doctype html
html
  head
    style.
      .colortext {
        color: red;
      }

      div{
        width: 600px;
        height: 300px;
        padding: 15px;
        border: 1px solid silver;
        background-color:aliceblue;
        box-shadow: 10px 10px 5px grey
      }

    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
